<?xml version="1.0" encoding="utf-8"?>

<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="org.example">
    <uses-permission android:name="android.permission.INTERNET" />

    <application
            android:allowBackup="true"
            android:icon="@android:drawable/sym_def_app_icon"
            android:label="MyGame"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        android:usesCleartextTraffic="true"
        android:theme="@android:style/Theme.NoTitleBar.Fullscreen">

        <activity
                android:name="org.example.android.AndroidLauncher"
                android:label="MyGame"
                android:exported="true"
                android:screenOrientation="landscape"
                android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
